div.oz-image-widget img {
    max-width: 100%;
    cursor: zoom-in;
}

div.oz-image-widget > img[alt$='#small'] {
    max-width: 75% !important;
    min-width: 200pt !important;
}

div.oz-image-widget > img[alt$='#x-small'] {
    max-width: 50% !important;
    min-width: 100pt !important;
}

div.oz-image-widget > img[alt$='#xx-small'] {
    max-width: 25% !important;
    min-width: 50pt !important;
}

.CodeMirror-linewidget img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.theme-dark img[alt$='#invert'],
.theme-dark div.oz-image-widget > img[alt$='#invert'] {
    filter: invert(1) hue-rotate(180deg);
}

.oz-transclusion-widget {
    padding: 3px 3px 3px 19px;
    border: 0.7px solid var(--text-muted);
    max-height: 600px;
    overflow: auto;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.oz-coffee-div {
    text-align: center;
    margin-top: 20px;
}

/* Image Zoom */
div.oz-image-widget img:active {
    width: auto;
    max-height: 95vh;
    cursor: zoom-out;
}

/* Line Numbers In Editor CodeBlock Renders */
pre[class*='language-'].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}
pre[class*='language-'].line-numbers > code {
    position: relative;
    white-space: inherit;
}
.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}
.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

/* Admonition */
#oz-admonition-title {
    text-transform: capitalize;
}

.mermaid-error-information {
    color: red;
    font-size: 14px;
    margin-bottom: 3px;
}

.oz-modal-center {
    text-align: center;
    margin: 20px 10px 20px 10px;
}

.oz-modal-title {
    text-align: center;
}

.inline-mathjax-block {
    margin-left: 5px;
}

.oz-image-widget > img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div.oz-transclusion-widget pre {
    overflow-x: auto;
}

.oz-transclusion-widget > * {
    user-select: text !important;
}

/* Rich Link Cards */
/* Credit: https://github.com/dhamaniasad/obsidian-rich-links */
.oz-rich-link-card {
    border: 1px solid var(--background-modifier-border);
    border-radius: 3px;
    width: 100%;
    display: flex;
    text-decoration: none;
    background-color: var(--background-primary);
}

.oz-rich-link-card-container {
    position: relative;
}

.oz-rich-link-image-container {
    height: 100px;
    width: 35%;
    min-width: 120px;
    overflow: hidden;
    border-right: 1px solid var(--background-modifier-border);
}

.oz-rich-link-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-color: var(--background-secondary);
}

.oz-rich-link-card-text {
    padding: 4px;
    width: 75%;
}

.oz-rich-link-card-title {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0 0 4px 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-normal);
}

.oz-rich-link-card-description {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: var(--text-muted);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.oz-rich-link-href {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: var(--text-faint);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
